body {
    background-color: rgb(109, 160, 219);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color: rgb(101, 32, 165);
}
img{
    border: 5px solid rgb(117, 24, 105);
}
.firstpic{
    border-color: slateblue;
}
ul{
    padding: 30px 0px 30px 15px;
    list-style: none;
    border-style: ridge solid;
    background-color: rgb(135, 206, 135);
    margin-bottom: 50px;
}
.projectlist ul{
    border: 1px solid black;
}
ul > li{
    text-decoration: underline;
}
.profile{
    border-bottom: 3px solid rgb(25, 35, 177);
    border-top: solid 3px rgb(25, 35, 177);
}
button{
    cursor: pointer;
    background-color: rgb(77, 33, 77);
    color: white;
}
.about{
    background-color: rgb(18, 150, 150);
}
p{
    padding: 10px;
}